<div class="container my-5">
  <h1 class="text-center">Галлерея Чикагского музея искусств</h1>
  <div class="text-center"> {{index+1}}/{{items.data.length}}</div>
  <div class="carousel slide my-5">
    <div class="carousel-inner d-flex flex-column text-center">
      <div class="d-flex">
        <img src="{{items.config.iiif_url}}/{{items.data[index].image_id}}/full/843,/0/default.jpg" class="d-block mx-auto" height="555px">
      </div>
      <div class=""><h2>{{items.data[index].title}} ({{items.data[index].date_display}})</h2></div>
      <div class=""><p>{{items.data[index].artist_display}}</p></div>
  </div>
  <div class="d-flex">
    <button class="btn btn btn-primary mx-auto" type="button" on-click="prevPic()" *ngIf="index > 0">Назад</button>    
    <button class="btn btn btn-primary mx-auto" type="button" on-click="nextPic()" *ngIf="index+1 < items.data.length">Вперед</button>
  </div>
  <div class="d-flex my-5">
    <button class="btn btn btn-primary mx-auto" type="button" on-click="lookSomeoneElse()">Посмотреть другие картинки</button>  
  </div>
</div>